.singleProductContainer {
    width: 50%;
    justify-items: center;

}

.singleProductContainer1 {
    width: 50%;
    justify-items: center;
}

.singleProductimg {
    width: 300px;
    height: 300px
}